.sub-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
  margin-top: 20vh;
  margin-bottom: 25vh;
}

.project-card{
  width: 350px;
  height: 357px;
  box-shadow: 5px 5px 20px rgb(154, 154, 154);
}

.project-card:hover{
  box-shadow: 5px 5px 20px rgb(154, 154, 154);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.project-container{
  display: flex;
  justify-content: space-around;
}

.card-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #00916E;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-image {
  margin-top: 25px;
  width: 350px;
  border-radius: 0px;
}

.project-container a{
  text-decoration: none;
}

@media only screen and (max-width: 1100px) {
  .project-container{
      display: block;
      flex-wrap: wrap;
  }
}