/* Giving the background a different colour for contrast */
body {
	background-color: #00916E;
  }
  
  /* Signup box styling */
  .signup-box {
	width: 360px;
	height: 680px;
	margin: auto;
	margin-top: 350px;
	background-color: white;
	border-radius: 3px;
  }
  
  /* Login box styling */
  .login-box {
	width: 360px;
	height: 280px;
	margin: auto;
	margin-top: 450px;
	border-radius: 3px;
	background-color: white;
  }

  /* Styling for the login box on the videos page - slightly different height
  than the one on the login page */
  .login-box-videos {
	width: 360px;
	height: 320px;
	margin: auto;
	margin-top: 450px;
	border-radius: 3px;
	background-color: white;
  }
  
  /* Styling for the headers */
  h1 {
	text-align: center;
	padding-top: 15px;
  }
  
  h4, h3 {
	text-align: center;
  }
  
  /* Styling for the form */
  form {
	width: 300px;
	margin-left: 20px;
  }
  
  form label {
	display: flex;
	margin-top: 20px;
	font-size: 18px;
  }
  
  form input {
	width: 100%;
	padding: 7px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	outline: none;
  }

  /* Styling the submit button */
.submit{
	width: 320px;
	height: 35px;
	margin-top: 20px;
	border: none;
	background-color: #00916E;
	color: white;
	font-size: 18px;
  }

.submit:hover{
	background-color: rgb(198, 198, 198);
	color: #00916E;
}

/* This style is for the tex underneath for the privacy policies */
  p {
	text-align: center;
	padding-top: 20px;
	font-size: 15px;
  }
  .para-2 {
	text-align: center;
	color: white;
	font-size: 15px;
	margin-top: -10px;
  }
  /* Styling for the signup/login page link */
  .para-2 a {
	color: #d0d0d0;
  }
  
  